

:root {
    --black: #000000;
    --red-blood: #b70000;
    --red-dark: #500000;
    --red-dark-deep: #1d0000;
  }
  

body {
    background: linear-gradient(-83deg, var(--red-blood), var(--red-dark), var(--red-dark-deep), var(--black));
    backdrop-filter: blur(20px);
	background-size: 400% 400%;
	animation: gradient 80s ease infinite;
	height: 40vh;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    img {
    border-radius: 50%;
    }
    .profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 120px;
    }
    .band-name {
        text-align: center;
        padding: 10px 0px;
        font-size: 30px;
    }
    .content{
        max-width: 360px;
        width: 85%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
    .link {
        text-align: center;
        margin-top: 20px;
        padding: 12px;
        outline: 2px solid white;
        outline-offset: -2px;
        border-radius: 5px;
        background: transparent;
        word-wrap: break-word;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        font-size: 17px;
        text-decoration: none;
        color: white;
        transition: color 1s;
    }
    .link:hover {
        color: #000;
        background: #fff;
    }
    .link.custom:hover{
        outline: none;
    }
    .link.ig:hover{
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);

    }
    .link.fb:hover{
        background:#3b5998;
        color: white;
    }
    .link.yt:hover{
        background:#FF0000;
        color: white;
    }
    .link .fab{
        position: absolute;
        margin-left: 10px;
    }
    .link span{
        width: 100%;
    }
    .bottom-text {
        text-align: center;
        margin-top: 130px;
        font-size: 13px;

    }
    .mini-links{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-content: space-between;
        justify-content: center;
    }

    .mini-links a{
        font-size: 20px;
        padding: 0px 15px;
        color: white;
        margin-top: 15px;
    }